@font-face {
font-family: mcfont;
src: url(../fonts/mcfont.ttf);
}

body {
  background-image: url(../images/bg.png);
  background-size: 100%;
  background-color: #0c1d49;
 }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }

.avatar {
  border-radius: 100px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .4); 
 }
 
.nickname {
  color: #FFFF55;
  text-shadow: 3px 3px #3F3F15;
  font-size: 17px;
  margin-top: -10px;
  font-family: mcfont;
  animation: pop 0.58s infinite;
 }
@keyframes pop {
  from {
  transform:scale(0.8)
  }
  50% {
  transform:scale(1)
  }
  to {
  transform:scale(0.8)
  }
}
 
.button {
 background: #c6c6c6;
 color: #4c4c4c;
 height: 60px;
 width: 320px;
 margin-bottom: -10px;
 font-family: mcfont;
 outline: 1.9px solid black;
 text-align: center;
 border-bottom: 1.9px solid #646263;
 border-right: 1.9px solid #646263;
 border-left: 1.9px solid #fff;
 border-top: 1.9px solid #fff;
 font-size: 16px;
}
 
.button:hover {
 background: #228207;
 color: #fff;
 outline: 1.9px solid white;
 border-bottom: 1.9px solid #26c417;
 border-right: 1.9px solid #26c417;
 border-left: 1.9px solid #094c07;
 border-top: 1.9px solid #094c07;
}

.content {
  height: 100px;
  margin-top: 10%;
 }
 
.aan {
  margin-bottom: 60px;
 }
 